<ion-header>
  <ion-toolbar color="success">
    <ion-title text-center>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding text-center>
  <ion-text color="success">
    <h4 style=" font-size: 100px;">Bienvenido</h4>
    <h4 style=" font-size: 50px;">Nombre de Usuario</h4>
  </ion-text>
  <ion-button color="success" position="floating" style="height: 200px; width: 200px;">Mascota</ion-button>
  <ion-button color="success" position="floating" style="height: 200px; width: 200px;">Generar QR</ion-button>
  <br>

  <ion-button color="success" position="floating" style="height: 200px; width: 200px;">Mascota</ion-button>
  <ion-button color="success" position="floating" style="height: 200px; width: 200px;">Generar QR</ion-button>

  <br>
  <ion-button color="success" position="floating" style="height: 100px; width: 300px;">+ Agregar Mascota</ion-button>

</ion-content>
