<ion-header>
  <ion-toolbar color="success">
    <ion-title text-center>Registro Veterinario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding text-center>
  <p align="center">
    <ion-img style="width: 300px; height: 300px; " src="../assets/gato.jpg"></ion-img>
  </p>

  <br>
  <ion-text color="success">
    <h4 style=" margin-left: 10px; font-size: 20px; float: left;">Nombre: </h4>
    <h4 style=" margin-left: 5px; font-size: 20px; float: left;"> Mascota 1</h4>
    <h4 style=" float: left; margin-left: 10px; font-size: 20px;">Edad:</h4>
    <h4 style=" float: left; margin-left: 5px;  font-size: 20px;">mascota1 15</h4>
    <h4 style=" float: left; margin-left: 10px; font-size: 20px;" >Raza:</h4>
    <h4 style=" float: left; margin-left: 5px; font-size: 20px;" >mascota1 chapi</h4>
    <h4 style=" float: left; margin-left: 10px; font-size: 20px;" >Genero:</h4>
    <h4 style=" float: left; margin-left: 5px; font-size: 20px;" >mascota1 macho</h4>
    <h4 style=" float: left; margin-left: 10px; font-size: 20px;" >Tipo:</h4>
    <h4 style=" float: left; margin-left: 5px; font-size: 20px;" >mascota1 gato</h4>
  </ion-text>
</ion-content>
