<ion-header>
  <ion-toolbar color="success">
      <ion-title text-center>Nueva Mascota</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding text text-center>
  <ion-item>
      <ion-label position="floating"> Nombre</ion-label>
      <ion-input type="text" name="nombre"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="floating"> Tipo</ion-label>
      <ion-input type="text" name="tipo"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="floating"> Género</ion-label>
      <ion-input type="text" name="genero"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="floating"> Raza</ion-label>
      <ion-input type="text" name="raza"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="floating"> Edad</ion-label>
      <ion-input type="text" name="edad"></ion-input>
  </ion-item>
  <ion-button color="success" position="floating" style="height: 200px; width: 200px;">Plan 1</ion-button>
  <ion-button color="success" position="floating" style="height: 200px; width: 200px; margin-left: 30px;">Plan2</ion-button>
  <ion-button color="success" position="floating" style="height: 200px; width: 200px; margin-left: 30px;">Plan3</ion-button>
  <br>
  <p>Vacunas</p>
  <br>
  <ion-list>
      <ion-item>
          <ion-label>Si</ion-label>
          <ion-checkbox slot="end" value="si"></ion-checkbox>
      </ion-item>
      <ion-item>
          <ion-label>No</ion-label>
          <ion-checkbox slot="end" value="no"></ion-checkbox>
      </ion-item>
  </ion-list>
  <br>
  <ion-button color="success" expand="block">Crear Cuenta</ion-button>
  <br>
</ion-content>