<ion-header>
    <ion-toolbar color="success">
      <ion-title text-center>Log In Veterinario</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-item>
    <ion-label color="success" position="floating" > Correo electrónico</ion-label>
    <ion-input color="success" type="text" name="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="success" position="floating" > Contraseña</ion-label>
    <ion-input color="success"  type="password" name="password"></ion-input>
  </ion-item>

  <br>
  <ion-button color="success" expand="block">Iniciar Sesión</ion-button>
  <ion-button color="success" expand="block">Crear Cuenta</ion-button>
  <br>

 

</ion-content>
