<ion-header>
  <ion-toolbar color="success">
    <ion-title text-center>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding text-center>
  <ion-text color="success">
    <h4 style=" font-size: 100px;">Woof</h4>
  </ion-text>
<br>
<p align="center">
  <ion-img style="width: 300px; height: 300px; " src="../assets/logo.png"></ion-img>
</p>

<ion-button (click)="irLoginVeterinario()"color="success" position="floating" expand="block">Veterinario</ion-button>
<br>
<ion-button (click)="irLoginUsuario()" color="success" position="floating" expand="block">Usuario</ion-button>


</ion-content>